<main id="content" role="main">
    <!-- Hero Section -->
    <div class="bg-img-hero" style="background-image: url(../../assets/img/bg/bg1.png);">
      <div class="container text-center space-2 space-4-top--lg space-3-bottom--lg">
        <div class="w-md-80 mx-auto mb-3">
          <h1 class="display-4 font-size-48--md-down">A beautiful template that does more</h1>
        </div>

        <div class="w-lg-50 mx-auto">
          <div class="mb-5">
            <p class="lead">Space gives you everything you need to manage business, build great stuff, and reach your goals.</p>
          </div>
          <div class="d-sm-flex justify-content-sm-center align-items-sm-center mb-7">
            <a class="btn btn-primary btn-wide mb-2 mb-sm-0 mr-sm-3" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">
              <span class="fab fa-google mr-2"></span>
              Signup with Google
            </a>
            <a class="d-inline-block text-secondary" href="signin-simple.html">Signup with Email</a>
          </div>

          <!-- Clients -->
          <ul class="list-inline">
            <li class="list-inline-item mx-3 mb-4">
              <img class="u-clients" src="../../assets/img/clients/airbnb.png" alt="Logo">
            </li>
            <li class="list-inline-item mx-3 mb-4">
              <img class="u-clients" src="../../assets/img/clients/google.png" alt="Logo">
            </li>
            <li class="list-inline-item mx-3 mb-4">
              <img class="u-clients" src="../../assets/img/clients/mapbox.png" alt="Logo">
            </li>
            <li class="list-inline-item mx-3 mb-4">
              <img class="u-clients" src="../../assets/img/clients/spotify.png" alt="Logo">
            </li>
          </ul>
          <!-- End Clients -->
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- About Section -->
    <div class="container space-2 space-3--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <span class="u-label u-label--sm u-label--purple mb-3">What is Space?</span>
        <h2 class="h3">Build for everyone and provides enjoyable usage</h2>
        <p>Experience a level of our quality in both design &amp; customization works.</p>
      </div>
      <!-- End Title -->

      <!-- Tab Nav -->
      <div class="nav nav-tabs justify-content-center tab-modern mb-5" id="h-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link h5 active tab-modern__nav-link mb-4" id="h-tab-forward-tab" data-toggle="pill" href="#h-tab-forward" role="tab" aria-controls="h-tab-forward" aria-selected="true">
          <img class="max-width-10 tab-modern__nav-link-icon mx-auto mb-2" src="../../assets/svg/components/moving-up-primary-icon.svg" alt="Image Description">
          Forward
        </a>
        <a class="nav-link h5 tab-modern__nav-link mb-4" id="h-tab-together-tab" data-toggle="pill" href="#h-tab-together" role="tab" aria-controls="h-tab-together" aria-selected="false">
          <img class="max-width-10 tab-modern__nav-link-icon mx-auto mb-2" src="../../assets/svg/components/collaborative-user-research-primary-icon.svg" alt="Image Description">
          Together
        </a>
        <a class="nav-link h5 tab-modern__nav-link mb-4" id="h-tab-toolsy-tab" data-toggle="pill" href="#h-tab-tools" role="tab" aria-controls="h-tab-tools" aria-selected="false">
          <img class="max-width-10 tab-modern__nav-link-icon mx-auto mb-2" src="../../assets/svg/components/cog-primary-icon.svg" alt="Image Description">
          Tools
        </a>
      </div>
      <!-- End Tab Nav -->

      <!-- Tab Content -->
      <div class="tab-content" id="h-tabContent">
        <div class="tab-pane fade show active" id="h-tab-forward" role="tabpanel" aria-labelledby="h-tab-forward-tab">
          <!-- About -->
          <div class="row align-items-lg-center">
            <div class="col-md-6 order-md-2 mb-5 mb-md-0">
              <div class="mb-4">
                <!-- Title -->
                <h2 class="h3">Space that moves forward</h2>
                <p>Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.</p>
                <!-- End Title -->

                <!-- Features List -->
                <ul class="text-secondary">
                  <li class="py-1">This is where we sit down, grab a cup of coffee and dial in the details.</li>
                  <li class="py-1">Understanding the task at hand and ironing out the wrinkles is key.</li>
                  <li class="py-1">This part is really crucial in keeping the project in line to completion.</li>
                </ul>
                <!-- End Features List -->

                <hr class="my-5">

                <!-- Review -->
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
                  <div class="media-body">
                    <h3 class="h6 mb-0">Maria Muzynska</h3>
                    <p class="mb-0">"I love Space! I love the ease of use, I love the fact that I have total creative freedom. The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly."</p>
                  </div>
                </div>
                <!-- End Review -->
              </div>
            </div>

            <div class="col-md-6 order-md-1">
              <div class="pr-lg-4">
                <img class="img-fluid" src="../../assets/img/700x700/img3.jpg" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End About -->
        </div>

        <div class="tab-pane fade" id="h-tab-together" role="tabpanel" aria-labelledby="h-tab-together-tab">
          <!-- About -->
          <div class="row align-items-lg-center">
            <div class="col-md-6 mb-5 mb-md-0">
              <div class="mb-4">
                <!-- Title -->
                <h2>Template that bring businesses together</h2>
                <p>Working together on the daily requires each individual to let the greater good of the team's work surface above their own ego.</p>
                <!-- End Title -->

                <!-- Features List -->
                <ul class="text-secondary">
                  <li class="py-1">It's important to stay detail oriented with every project we tackle.</li>
                  <li class="py-1">Staying focused allows us to turn every project we complete into something we love.</li>
                </ul>
                <!-- End Features List -->

                <hr class="my-5">

                <!-- Review -->
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="../../assets/img/100x100/img4.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Mark McManus</h4>
                    <p class="mb-0">"We are incredibly impressed with Space and how well it supports its customers with amazing products and services. One simple subscription gives you access to all our tools, plus so much more."</p>
                  </div>
                </div>
                <!-- End Review -->
              </div>
            </div>

            <div class="col-md-6">
              <div class="pr-lg-4">
                <img class="img-fluid" src="../../assets/img/700x700/img2.jpg" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End About -->
        </div>

        <div class="tab-pane fade" id="h-tab-tools" role="tabpanel" aria-labelledby="h-tab-tools">
          <!-- About -->
          <div class="row align-items-lg-center">
            <div class="col-md-6 order-md-2 mb-5 mb-md-0">
              <div class="mb-4">
                <!-- Title -->
                <h2>Work faster with your tools in one place</h2>
                <p>As creatives, it's important that we strive to do work outside of obligation. This lets us stay ahead of the curve for our clients and internal projects.</p>
                <!-- End Title -->

                <!-- Features List -->
                <ul class="text-secondary">
                  <li class="py-1">We've got your Space end and back end needs covered.</li>
                  <li class="py-1">We're always looking for strategies to make your brand's needs fit with today's development languages.</li>
                </ul>
                <!-- End Features List -->

                <hr class="my-5">

                <!-- Review -->
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Alex Pottorfs</h4>
                    <p class="mb-0">"Space brings so many benefits to any team that does anything following a process. It is the easiest way for teams to build cool things work—and get results."</p>
                  </div>
                </div>
                <!-- End Review -->
              </div>
            </div>

            <div class="col-md-6 order-md-1">
              <div class="pr-lg-4">
                <img class="img-fluid" src="../../assets/img/700x700/img1.jpg" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End About -->
        </div>
      </div>
      <!-- End Tab Content -->
    </div>
    <!-- End About Section -->

    <!-- Icon Blocks Section -->
    <div class="container space-2-bottom space-3-bottom--lg">
      <div class="row">
        <div class="col-md-4 mb-7 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-4">
            <img class="max-width-14 mb-2" src="../../assets/svg/components/trophy-purple-icon.svg" alt="Image Description">
            <h3 class="h5">Professional Design</h3>
            <p class="mb-0">Achieve virtually any look and layout from within the one template.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-7 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-4">
            <img class="max-width-14 mb-2" src="../../assets/svg/components/idea-primary-icon.svg" alt="Image Description">
            <h3 class="h5">Space Strategy</h3>
            <p class="mb-0">We strive to figure out ways to help your audience grow through all platforms.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-4">
            <img class="max-width-14 mb-2" src="../../assets/svg/components/rocket-red-icon.svg" alt="Image Description">
            <h3 class="h5">Unlimited Power</h3>
            <p class="mb-0">Find what you need in one template and combine features at will.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
    <!-- End Icon Blocks Section -->

    <!-- CTA -->
    <div class="gradient-half-primary-v1">
      <div class="bg-img-hero" style="background-image: url(../../assets/img/bg/bg2.png);">
        <div class="container text-center space-2 space-3--lg">
          <!-- Title -->
          <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
            <h2 class="h1 text-white">Get started with Space</h2>
            <p class="lead text-white">Space gives you everything you need to manage business, build great stuff, and reach your goals.</p>
          </div>
          <!-- End Title -->

          <!-- Slick Carousel -->
          <div class="js-slick-carousel u-slick slick-initialized slick-slider" data-autoplay="true" data-speed="5000" data-infinite="true" data-slides-show="6" data-responsive="[{
                 &quot;breakpoint&quot;: 1200,
                 &quot;settings&quot;: {
                   &quot;slidesToShow&quot;: 4
                 }
               }, {
                 &quot;breakpoint&quot;: 992,
                 &quot;settings&quot;: {
                   &quot;slidesToShow&quot;: 4
                 }
               }, {
                 &quot;breakpoint&quot;: 768,
                 &quot;settings&quot;: {
                   &quot;slidesToShow&quot;: 3
                 }
               }, {
                 &quot;breakpoint&quot;: 576,
                 &quot;settings&quot;: {
                   &quot;slidesToShow&quot;: 3
                 }
               }, {
                 &quot;breakpoint&quot;: 480,
                 &quot;settings&quot;: {
                   &quot;slidesToShow&quot;: 2
                 }
               }]">
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4070px; transform: translate3d(-1850px, 0px, 0px);"><div class="js-slide slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/paypal-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/slack-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/samsung-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/airbnb-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/lenovo-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/spotify-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide" data-slick-index="0" aria-hidden="true" style="width: 185px; height: auto;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/amazon-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 185px; height: auto;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/google-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 185px; height: auto;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/paypal-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide" data-slick-index="3" aria-hidden="true" style="width: 185px; height: auto;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/slack-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-current slick-active" data-slick-index="4" aria-hidden="false" style="width: 185px; height: auto;" tabindex="0">
              <img class="u-clients" src="../../assets/img/clients/samsung-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 185px; height: auto;" tabindex="0">
              <img class="u-clients" src="../../assets/img/clients/airbnb-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-active" data-slick-index="6" aria-hidden="false" style="width: 185px; height: auto;" tabindex="0">
              <img class="u-clients" src="../../assets/img/clients/lenovo-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-active" data-slick-index="7" aria-hidden="false" style="width: 185px; height: auto;" tabindex="0">
              <img class="u-clients" src="../../assets/img/clients/spotify-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned slick-active" data-slick-index="8" aria-hidden="false" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/amazon-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned slick-active" data-slick-index="9" aria-hidden="false" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/google-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/paypal-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/slack-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/samsung-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/airbnb-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/lenovo-white.png" alt="Image Description">
            </div><div class="js-slide slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 185px;" tabindex="-1">
              <img class="u-clients" src="../../assets/img/clients/spotify-white.png" alt="Image Description">
            </div></div></div>







          </div>
          <!-- End Slick Carousel -->
        </div>
      </div>
    </div>
    <!-- End CTA -->

    <!-- News Section -->
    <div class="bg-gray-100">
      <div class="container space-2 space-3--lg">
        <!-- Title -->
        <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
          <span class="u-label u-label--sm u-label--purple mb-3">News</span>
          <h2 class="h3">Read our news &amp; blogs</h2>
          <p>Our duty towards you is to share our experience we're reaching in our work path with you.</p>
        </div>
        <!-- End Title -->

        <div class="card-deck d-block d-lg-flex">
          <article class="card border-0 mb-5">
            <div class="card-body row align-items-stretch no-gutters p-0">
              <!-- News Blog Card -->
              <div class="col-7 border border-right-0 rounded-left">
                <div class="p-5">
                  <h2 class="h5 mb-3">
                    <a href="../blog/single-article-classic.html">Announcing a free plan for small teams</a>
                  </h2>
                  <p class="mb-0">We've always believed that by providing a space where.</p>
                </div>
              </div>
              <div class="col-5 card-img-right border border-left-0 bg-img-hero" data-bg-img-src="../../assets/img/500x550/img1.jpg" style="background-image: url(&quot;../../assets/img/500x550/img1.jpg&quot;);"></div>
            </div>
            <!-- End News Blog Card -->
          </article>

          <article class="card border-0 mb-5">
            <div class="card-body row align-items-stretch no-gutters p-0">
              <!-- News Blog Card -->
              <div class="col-7 border border-right-0 rounded-left">
                <div class="p-5">
                  <h2 class="h5 mb-3">
                    <a href="../blog/single-article-classic.html">2018's most expensive house</a>
                  </h2>
                  <p class="mb-0">At Wake, our mission has always been focused on..</p>
                </div>
              </div>
              <div class="col-5 card-img-right border border-left-0 bg-img-hero" data-bg-img-src="../../assets/img/500x550/img2.jpg" style="background-image: url(&quot;../../assets/img/500x550/img2.jpg&quot;);"></div>
            </div>
            <!-- End News Blog Card -->
          </article>
        </div>

        <div class="card-deck d-block d-lg-flex">
          <article class="card border-0 mb-5">
            <div class="card-body row align-items-stretch no-gutters p-0">
              <!-- News Blog Card -->
              <div class="col-7 border border-right-0 rounded-left">
                <div class="p-5">
                  <h2 class="h5 mb-3">
                    <a href="../blog/single-article-classic.html">Key benefits of my portfolio update</a>
                  </h2>
                  <p class="mb-0">Portfolio offers a user a new way of experiencing design.</p>
                </div>
              </div>
              <div class="col-5 card-img-right border border-left-0 bg-img-hero" data-bg-img-src="../../assets/img/500x550/img3.jpg" style="background-image: url(&quot;../../assets/img/500x550/img3.jpg&quot;);"></div>
            </div>
            <!-- End News Blog Card -->
          </article>

          <article class="card border-0 mb-5">
            <div class="card-body row align-items-stretch no-gutters p-0">
              <!-- News Blog Card -->
              <div class="col-7 border border-right-0 rounded-left">
                <div class="p-5">
                  <h2 class="h5 mb-3">
                    <a href="../blog/single-article-classic.html">ICOs have raised $2 billion this year</a>
                  </h2>
                  <p class="mb-0">Despite the quality of this year's initial crowd offerings.</p>
                </div>
              </div>
              <div class="col-5 card-img-right border border-left-0 bg-img-hero" data-bg-img-src="../../assets/img/500x550/img4.jpg" style="background-image: url(&quot;../../assets/img/500x550/img4.jpg&quot;);"></div>
            </div>
            <!-- End News Blog Card -->
          </article>
        </div>
      </div>
    </div>
    <!-- End News Section -->

    <!-- Instagram -->
    <div class="container space-2 space-3--lg">
      <div class="row align-items-center">
        <div class="col-lg-4 mb-7 mb-lg-0">
          <!-- Title -->
          <div class="pr-lg-4">
            <span class="fab fa-instagram fa-2x"></span>
            <h2 class="h3">Instagram</h2>
            <p class="mb-0">Follow us on my Instagram account to get the latest updates and deals.</p>
          </div>
          <!-- End Title -->
        </div>

        <div class="col-lg-8">
          <!-- Instafeed -->
          <div id="instaFeed" class="js-instagram row mx-gutters-2" data-user-id="4815936096" data-client-id="60648b9247324e87a4d7ab3aa7a58f6c" data-token="4815936096.1677ed0.1cbcaacad4de4ffa96aa15ec76e0e5ce" data-limit="4" data-template="<div class=&quot;col-3 mb-3&quot;><div class=&quot;border rounded p-1&quot;><a href=&quot;{{link}}&quot; target=&quot;_blank&quot;><img class=&quot;img-fluid w-100&quot; src=&quot;{{image}}&quot; /></a></div></div>"></div>
          <!-- End Instafeed -->
        </div>
      </div>
    </div>
    <!-- End Instagram -->
  </main>
